<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Producto</title>
</head>
<body>
    <h1>Mostrando detalle del producto</h1>

    <h2>Nombre: <%= prod.name %></h2>

    <h3 <%=  prod.stock === 0 ? 'class=alerta-stock' : '' %> >Stock: <%= prod.stock %></h3>
    
    <!-- <% if (prod.stock === 0) { %>
        <h3 class="alerta-stock">Stock: <%= prod.stock %></h3>
    <% } else { %>
        <h3 >Stock: <%= prod.stock %></h3>
    <% } %> -->
     
</body>
</html>